.nav-container {
  position: sticky;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  padding: 18px 50px;
  align-items: center;
  background: #fff;
  color: #5a5a5a;
  box-shadow: 0 -1px #ddd inset;
  margin-bottom: 80px;

  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #626262;
    padding-bottom: 3px;
    transition: all 0.3s;

    &:hover {
      border-bottom: 1px solid #626262;
    }
  }
}
.nav-leftBlock {
  position: relative;

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 6px 20px;
    }
  }
}
.nav-centerBlock {
  height: 75px;
  text-align: center;
}
.nav-rigthBlock {
  text-align: end;
}